page-home {
 
 .choices {

    li{
        margin-bottom : 10px;
    }
    
    span{
        display: inline-block;
    }

 }

 .quiz-checking{
     margin-bottom: 170px;
     padding-top: 50px;
 }

}
